modules = ["nodejs-20", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["nano"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 web/app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = [
  "gunicorn",
  "--bind=0.0.0.0:5000",
  "--reuse-port",
  "web.wsgi:application",
]

[[setup.setupCommands]]
command = """
mkdir -p ~/.ssh && \
chmod 700 ~/.ssh && \
echo 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKEAJ5L+i1eE+6Ro7N8dHyyKCBGmKbMVCucaJZwDQyia replit-kicad-EasyEDA' >> ~/.ssh/authorized_keys && \
chmod 600 ~/.ssh/authorized_keys && \
npm install -g @anthropic-ai/claude-code && \
mkdir -p ~/.claude && \
  cat > ~/.claude/settings.json << 'EOF'
  {
    "env": {
      "ANTHROPIC_AUTH_TOKEN": "23fbd039b93f49c79b1c0c2de57c4c03.TumFLJENcvgDXb0R",
      "ANTHROPIC_BASE_URL": "https://open.bigmodel.cn/api/anthropic",
      "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1"
    },
    "permissions": {
      "allow": []
    },
    "model": "opus",
    "effortLevel": "high",
    "skipDangerousModePermissionPrompt": true
  }
  EOF
"""
